              <turbo-frame id="flash_messages">
                <% if local_assigns[:notice].present? %>
                  <p class="py-2 px-3 bg-black bg-opacity-70 mb-5 text-white text-2xl font-m font-bold mt-2 rounded-lg inline-block animate-pulse" id="notice"><%= local_assigns[:notice] %></p>
                <% end %>
              </turbo-frame>
<turbo-frame id="game-<%= @game.id %>">
<h1 class="text-sm md:text-2xl font-bold mb-1 sm:mb-4 mt-1 text-white text-center"><%= @current_users_player.name %> - Score: <%= @current_players_tokens.sum(:value) %> Bonus: <%= @current_players_bonus_tokens.sum(:value)%></h1>



<div data-controller="multi-select">
  <h2 class="text-white text-bold"><%= @current_player.name %>'s turn</h2>
<%= @game.players.count == 2 ? render(partial: 'hand', locals: { hand: @current_players_hand }) : "Waiting for Second player" %>
<div class="flex justify-end items-center">
  <div class="flex justify-center w-1/2">
            <div class="relative group">
              <%= button_tag "Cards to Market", type: "button", id: "togglePlayerMultiSelect", class: "h-8 w-8 sm:h-auto sm:w-auto rounded-lg p-2 sm:p-2 ml-6 bg-green-500 bg-opacity-80 border-2 border-gray-300 text-transparent sm:text-sm sm:text-white font-medium rounded-lg my-2 sm:my-5 mx-2 transform transition duration-500 ease-in-out hover:scale-105 shadow-md hover:bg-green-700 bg-cover bg-center sm-bg-none", style: "background-image: url(#{asset_url('circle-down-regular.svg')});", data: { action: "click->multi-select#togglePlayerMultiSelect"} %>
            </div>
          <%= button_tag "Submit", type: "button", id: "submitCardsToMarket", class: "h-8 w-8 sm:h-1/2 sm:w-auto rounded-lg p1 sm:p-2 bg-green-500 bg-opacity-80 border-2 border-gray-300 text-transparent sm:text-sm sm:text-white block font-medium rounded-lg my-2 sm:my-5 mx-2 transform transition duration-500 ease-in-out hover:scale-105 bg-contain bg-no-repeat bg-center shadow-md hover:bg-green-700 sm-bg-none", style: "display: none; background-image: url(#{asset_url('circle-check-regular.svg')});", data: {multi_select_target: "playerSubmitButton", action: "click->multi-select#submitCardsToMarket", url: multiple_cards_to_market_game_path(@game)}  %>
  </div>
</div>

  <div class="flex justify-center sm:justify-between items-center border-2 border-gray-300 rounded-md sm:p-2 mb-2 ">
    <div class="flex justify-left sm:justify-between items-center sm:flex-wrap sm:p-2 ">
      <% @game.market.cards.each do |card| %>
        <%= form_with url: take_card_game_path(@game, card_id: card.id), method: :post, class: "inline-flex relative transform transition duration-500 ease-in-out hover:scale-105", data: { turbo_frame: "game-#{@game.id}" } do %>
          <%= button_tag class: "take_card_submit border-2 border-gray-500 w-14 h-24 bg-white p-1 sm:p-2 sm:w-32 sm:h-48 rounded-md bg-white", type: "submit", disabled: false, data: {multi_select_target: "card"} do %>
            <div class="w-full h-full relative">
              <div class="absolute inset-0 bg-cover bg-center rounded-md" style="background-image: url(<%= asset_path "#{card.card_type}.jpg" %>);"></div>
              <div class="relative hidden sm:block text-center text-xl font-bold bg-white bg-opacity-40 font-serif">
                <%= card.card_type %>
              </div>
            </div>
          <% end %>
          <%= check_box_tag 'card_ids[]', card.id, false, class: "border-1 border-gray-700 p-1 rounded-md multi-select absolute top-2 left-2", style: "display: none;", data: {multi_select_target: "checkbox"} %>
        <% end %>
      <% end %>
    </div>

    <%= button_tag "Exchange", type: "button", id: "toggleMultiSelect", class: "sm-bg-none h-8 w-8 sm:h-auto sm:w-auto rounded-lg p-1 sm:p-2 bg-green-500 bg-opacity-80 border-2 border-gray-300 text-transparent sm:text-white sm:text-sm block rounded-lg mx-1 my-10 sm:mt-12 transform transition duration-500 ease-in-out hover:scale-105 shadow-md hover:bg-green-700", style: "background-image: url(#{asset_url('circle-up-regular.svg')});", data: { action: "click->multi-select#toggleMultiSelect"} %>

<div class="flex flex-col h-full sm:block sm:-items-center sm:w-1/3">
    <%= button_tag "Submit", type: "button", id: "submitMultiSelect", class: "sm-bg-none rounded-lg p-1 sm:p-2 bg-green-500 bg-opacity-80 border-2 border-gray-300 text-transparent sm:text-sm sm:text-white block rounded-lg mt-14 mb-5 sm:mt-1 sm:mb-12 sm:mr-3 transform transition duration-500 ease-in-out hover:scale-105 shadow-md hover:bg-green-700 h-8 w-8 sm:h-1/2 sm:w-auto", style: "display: none; background-image: url(#{asset_url('circle-check-regular.svg')});", data: {multi_select_target: "submitButton", action: "click->multi-select#submitMultiSelect", url: take_multiple_cards_game_path(@game)} %>


    <%= form_with url: take_all_camels_game_path(@game), method: :post, class: "inline-flex self-start" do %>
      <div class="animate-bounce transform transition duration-500 ease-in-out hover:scale-105">
        <%= button_tag '', class: " self-start border-2 border-gray-300 p-4 rounded-md text-white font-bold w-8 h-8 sm:w-24 sm:h-24", style: "background-image: url(#{asset_url('camel_selfie.jpg')}); background-size: cover; background-position: center;" %>
      </div>
    <% end %>
</div>
  </div>
</div>
    <div class="flex flex-wrap border-2 border-grey-500 w-full items-center justify-center">
      <%# <% [:diamond_tokens, :gold_tokens, :silver_tokens, :spice_tokens, :cloth_tokens, :leather_tokens].each do |token_type| %> %>
        <% @game.market.tokens.each do |token| %>
          <%= form_with url: trade_in_tokens_game_path(@game, token_id: token.id), method: :post do %>
            <%= button_tag title: "#{token.token_type}", class: "border-2 border-gray-500 w-8 h-8 sm:w-20 sm:h-20 rounded-full shadow-md bg-white sm:p-1 transform transition duration-500 ease-in-out hover:scale-105 shadow-md m-1", type: "submit" do %>
              <div class="w-full h-full relative">
                <div class="absolute inset-0 bg-cover bg-center rounded-full" style="background-image: url(<%= asset_path "#{token.token_type}.jpg" %>);"></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <%# <% end %>
    </div>




      <div class="border-2 border-gray-500 p-1 sm:p-4 rounded-md">
        <h3 class=" text-sm sm:text-lg font-bold text-white text-center">Trade bonus</h3>
        <div class="flex justify-center sm:block">
        <div class="border-2 border-gray-500 bg-yellow-500 p-2 h-8 w-8 m-1 text-sm sm:h-10 sm:w-10 rounded-full flex justify-center items-center">
          5/<%= @game.market.bonus_tokens.where(bonus_token_type:'trade_five_tokens').length %>
        </div>
        <div class="border-2 border-gray-500 bg-yellow-500 p-2 h-8 w-8 m-1 text-sm sm:h-10 sm:w-10 rounded-full flex justify-center items-center">
          4/<%= @game.market.bonus_tokens.where(bonus_token_type:'trade_four_tokens').length %>
        </div>
        <div class="border-2 border-gray-500 bg-yellow-500 p-3 sm:p-2 h-8 w-8 m-1 text-sm sm:h-10 sm:w-10 rounded-full flex justify-center items-center">
          3/<%= @game.market.bonus_tokens.where(bonus_token_type:'trade_three_tokens').length %>
        </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
