<!DOCTYPE html>
<html>
  <head>
    <title>Jaipur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url(<%= asset_path 'background.jpg' %>)" class="min-h-screen bg-fixed sm:bg-cover bg-center bg-no-repeat">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%# <main class="container mx-auto mt-28 px-5 flex bg-cover bg-center rounded-md shadow-lg bg-white shadow-md" style="background-image: url(<%= asset_path 'background.jpg' %>
       <%= render "shared/navbar" %>
    <div>
      <%= yield %>
      </div>
    <%# </main> %>
  </body>
</html>
