<!DOCTYPE html>
<html>
  <head>
    <title>Jaipur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url(<%= asset_path 'background.jpg' %>)" class="min-h-screen bg-fixed sm:bg-cover bg-center bg-no-repeat">
       <%= render "shared/navbar" %>
  <%# <p class="notice"><%= notice %></p>
       <%# <p class="alert bg-white font-bold"><%= alert %></p>
    <div>
    <turbo-frame id="game_updates">
      <% if flash[:game_notice].present? %>
        <p class="py-2 px-3 bg-black bg-opacity-70 mb-5 text-white text-2xl font-m font-bold mt-2 rounded-lg inline-block animate-pulse" id="game_notice"><%= flash[:game_notice] %></p>
      <% end %>
    </turbo-frame>
      <%= yield %>
      <%# <% if current_user.present? %>
      <%# <h2 class="bg-blue-500 text-white">Hi <%= current_user.email %></h2>
      <%# <% end %>
      </div>
  </body>
</html>
